{% extends 'helper/base.html' %}

{% block content %}

<form action="{% url 'add_contact' %}" method="POST" enctype="multipart/form-data">
  
  <div class="row">
    <div>
      <div class="card-body" style="width: 50%">
        <h1>Додати контакт</h1>
        {% csrf_token %}
        {{ contact_form.id }}
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Fullname
                {{ contact_form.fullname }}
            </label>
            <input type="text" id="id_fullname" name="fullname">
            <span>{{ contact_form.errors.fullname }}</span>
          </div>

          <div class="mb-3">
            <label class="form-label">Email
                {{ contact_form.email }}
            </label>
            <input type="text" id="id_email" name="email">
            <span>{{ contact_form.errors.email }}</span>
          </div>

          <div class="mb-3">
            <label class="form-label">Phone number
                {{ contact_form.tel_num }}
            </label>
            <input type="text" id="id_phone_number" name="phone_number">
            <span>{{ contact_form.errors.phone_number }}</span>
          </div>

          <div class="mb-3">
            <label for="inputDate" class="form-label">Born Date
                {{ contact_form.born_date }}
            </label>
            <input type="text" id="id_born_date" name="born_date">
            <span>{{ contact_form.errors.born_date }}</span>
          </div>

          <div class="mb-3">
            <label class="form-label">Address
                {{ contact_form.address }}
            </label>
          <input type="text" id="id_address" name="address">
            <span>{{ contact_form.errors.address }}</span>
          </div>
        </form>
        <button type="submit" class="btn btn-primary">Додати</button>
        <button type="reset" class="btn btn-secondary">Зкинути</button>
        </div>
    </div>      
  </div>

</form> 
{% endblock %}