{% extends 'helper/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="{% url 'contacts:add_contact' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Add Contact</h1>

        <div class="mb-3">
          <label for="id_fullname" class="form-label">Fullname</label>
          {{ form_contact.fullname }}
          <span class="text-danger">{{ form_contact.errors.fullname }}</span>
        </div>

        <div class="mb-3">
          <label for="id_email" class="form-label">Email</label>
          {{ form_contact.email }}
          <span class="text-danger">{{ form_contact.errors.email }}</span>
        </div>

        <div class="mb-3">
          <label for="id_phone_number" class="form-label">Phone number</label>
          {{ form_contact.phone_number }}
          <span class="text-danger">{{ form_contact.errors.phone_number }}</span>
        </div>

        <div class="mb-3">
          <label for="id_born_date" class="form-label">Born Date</label>
          {{ form_contact.born_date }}
          <span class="text-danger">{{ form_contact.errors.born_date }}</span>
        </div>

        <div class="mb-3">
          <label for="id_address" class="form-label">Address</label>
          {{ form_contact.address }}
          <span class="text-danger">{{ form_contact.errors.address }}</span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
