{% extends 'helper/base.html' %}

{% block content %}
<html>
<head>
    <title>Список контактів</title>
</head>
<body>
    <h1>Список контактів</h1>
    <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary">Додати контакт</a>
    <!-- Додана кнопка для переходу на сторінку з майбутніми днями народження -->
    <a href="{% url 'contacts:upcoming_birthdays_list' %}" class="btn btn-primary">Майбутні дні народження</a>
    <br><br>

    <!-- Форма для пошуку контактів -->
    <form method="GET" action="{% url 'contacts:contact_list' %}">
        <div class="row g-3">
                  <div class="col-auto">
                      <input type="text" class="form-control" name="query" placeholder="Введіть ім'я для пошуку...">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-secondary mb-3">Знайти</button>
                  </div>
        </div>

    </form>


    {% for contact in contacts %}
        <div class="card mb-3">
            <div class="card-body">
                <strong>ПІБ:</strong> {{ contact.fullname }}<br>
                <strong>Email:</strong> {{ contact.email }}<br>
                <strong>Телефон:</strong> {{ contact.phone_number }}<br>
                <strong>Дата народження:</strong> {{ contact.born_date|date:"d.m.Y" }}<br>
                <!-- Додайте інші поля, які хочете відобразити -->
                <a href="{% url 'contacts:edit_contact' contact.pk %}" class="btn btn-warning mt-3">Змінити</a>
                <a href="{% url 'contacts:delete_contact' contact.pk %}" class="btn btn-danger mt-3">Видалити</a>
            </div>
        </div>
    {% empty %}
        <p>Немає контактів для відображення.</p>
    {% endfor %}


    <h2>Пошук по даті народження</h2>
    <form method="GET" action="{% url 'contacts:contact_list' %}">
        {{ form.as_p }}
        <div class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" id="days" name="days" value="{{ days }}" min="1" max="365" placeholder="Введіть кількість днів для пошуку...">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-secondary">Пошук</button>
                </div>
        </div>
    </form>
    
</body>
</html>
{% endblock %}
