<!-- contacts/upcoming_birthdays_list.html -->

{% extends 'helper/base.html' %}

{% block content %}

<html>
<head>
    <title>Контакти з майбутніми днями народження</title>
</head>
<body>
    <h1>Контакти з майбутніми днями народження</h1>
    <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary">Додати контакт</a>
    <br><br>
    <form method="GET" action="{% url 'contacts:upcoming_birthdays_list' %}">
        <label for="days">Кількість днів для майбутніх днів народження:</label>
        <input type="number" id="days" name="days" value="{{ days }}" min="1" max="365">
        <button type="submit" class="btn btn-secondary">Показати</button>
    </form>
    <ul>
    {% for contact in upcoming_contacts %}
        <li>{{ contact.fullname }} - Дата народження: {{ contact.birth_date|date:"d.m.Y" }} - <a href="{% url 'contacts:edit_contact' contact.pk %}" class="btn btn-warning">Змінити</a> - <a href="{% url 'contacts:delete_contact' contact.pk %}" class="btn btn-danger">Видалити</a></li>
    {% empty %}
        <li>Немає контактів з майбутніми днями народження.</li>
    {% endfor %}
    </ul>
</body>
</html>

{% endblock %}
