{% extends 'helper/base.html' %}

{% block content %}
<html>
<head>
    <title>Список контактів</title>
</head>
<body>
    <h1>Список контактів</h1>
    <a href="{% url 'contacts:add_contact' %}" class="btn btn-primary">Додати контакт</a>
    <br><br>

    <!-- Форма для поиска контактов -->
    <form method="GET" action="{% url 'contacts:contact_list' %}">
        <input type="text" name="query" placeholder="Введіть ім'я для пошуку...">
        <button type="submit" class="btn btn-secondary">Знайти</button>
    </form>

    <ul>
    {% for contact in contacts %}
        <li>{{ contact.fullname }} - <a href="{% url 'contacts:edit_contact' contact.pk %}" class="btn btn-warning">Змінити</a> - <a href="{% url 'contacts:delete_contact' contact.pk %}" class="btn btn-danger">Видалити</a></li>
    {% empty %}
        <li>Немає контактів для відображення.</li>
    {% endfor %}
    </ul>
</body>
</html>
{% endblock %}
