{% extends "helper/base.html" %}

{% block content %}
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 0px">
        <a href="{% url 'notes:add_notes' %}" role="button" class="btn btn-success mb-3">Додати нотатку</a></li>
        <a href="{% url 'notes:tag' %}" role="button" class="btn btn-success mb-3">Додати тег</a></li>
    </nav>

    <form method="GET" action="{% url 'notes:index' %}" style="margin-bottom: 20px;">
        <div class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" name="q" placeholder="Пошук нотаток...">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Шукати</button>
                </div>
        </div>
    </form>

    <form method="GET" action="{% url 'notes:index' %}" style="margin-bottom: 20px;">
        <div class="row g-3">
                <div class="col-auto">
                    <input type="text" class="form-control" name="tag" placeholder="Пошук в тегах...">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Шукати</button>
                </div>
        </div>
    </form>

    {% if notes %}
        {% for note in notes %}
        <div class="card mb-3">
            <div class="card-body">
                {% if not note.done %}
                <a href="{% url 'notes:detail' note.id %}" role="button" class="outline"> <h2>{{ note.name }}</h2> </a>
                <a href="{% url 'notes:set_done' note.id %}" role="button" class="btn btn-primary"> Позначити як виконану </a>
                <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-secondary"> Видалити нотатку </a>
                <a href="{% url 'notes:edit' note.id %}" role="button" class="btn btn-secondary"> Редагувати нотатку </a>
                {% else %}
                <a href="{% url 'notes:detail' note.id %}" role="button" class="secondary"><s>{{ note.name }}</s></a>
                <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-secondary"> Видалити нотатку </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Нотаток не знайдено</p>
    {% endif %}
</main>
{% endblock %}
