{% extends "helper/base.html" %}

{% block content %}
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
            <li><a href="{% url 'notes:add_notes' %}" role="button">Add note</a></li>
            <li><a href="{% url 'notes:tag' %}" role="button">Add Tag</a></li>
        </ul>
    </nav>

    <form method="GET" action="{% url 'notes:index' %}" style="margin-bottom: 20px;">
        <input type="text" name="q" placeholder="Search notes...">
        <button type="submit">Search</button>
    </form>

    <form method="GET" action="{% url 'notes:index' %}" style="margin-bottom: 20px;">
        <input type="text" name="tag" placeholder="Search by tags...">
        <button type="submit">Search</button>
    </form>

    {% if notes %}
        {% for note in notes %}
        <ul>
            <li>
                {% if not note.done %}
                <a href="{% url 'notes:detail' note.id %}" role="button" class="outline"> <h2>{{ note.name }}</h2> </a>
                <a href="{% url 'notes:set_done' note.id %}" role="button" class="btn btn-primary"> Mark Done </a>
                <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-secondary"> Видалити нотатку </a>
                <a href="{% url 'notes:edit' note.id %}" role="button" class="btn btn-secondary"> Edit note </a>
                {% else %}
                <a href="{% url 'notes:detail' note.id %}" role="button" class="secondary"><s>{{ note.name }}</s></a>
                <a href="{% url 'notes:delete' note.id %}" role="button" class="btn btn-secondary"> Delete note </a>
                {% endif %}
            </li>
        </ul>
        {% endfor %}
    {% else %}
        <p>No notes found.</p>
    {% endif %}
</main>
{% endblock %}
